{% extends 'base.html.twig' %}


{% block title %}
    {{ article.titre }}
{% endblock %}
{% block body %}
    <p>{{ addition( article.id, 2) }}</p>
    {# <smal>{{ article.creation_date|date('d/m/Y') }}</smal> #}
    <p>{{ article.contenu }} </p>
{% endblock %}
