{% extends 'base.html.twig' %}


{% block title %}
    {% if id is defined %}
        Article n• {{ id }}
    {% endif %}
{% endblock %}
{% block body %}
    <p>Content de l'article {{ id }} </p>
{% endblock %}
